.nav-img {
  width: 2.5rem;
}
#body {
  padding-top: 4rem;
  height: 100vh;
}
.row {
  height: 100%;
}
.repo-data {
  width: 100%;
  border-top: 1px dotted black;
}
.results {
  overflow: scroll;
  height: 100%;
  /* border-right: 1px dotted rgba(0,0,0,0.5); */
}
.commits {
  overflow: scroll;
  height: 50%;
}
.charts {
  height: 50%;
}
.fa {
  color: black;
}
.fa::before {
  margin-right: 5px;
}
.list-group-item {
  border: none;
}